@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*, ::after, ::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

h1 {
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

h5 {
  font-size: var(--h5);
}

:root {
  --title-size: 3.7rem;
  --h1: 2.3rem;
  --h2: 1.8rem;
  --h3: 1.35rem;
  --h4: 1rem;
  --h5: 0.85rem;
  --h6: 0.75rem;
}
@media (max-width: 968px) {
  :root {
    --title-size: 3rem;
    --h1: 2.3rem;
    --h2: 1.65rem;
    --h3: 1.35rem;
    --h4: 1rem;
    --h5: 0.85rem;
    --h6: 0.75rem;
  }
}
@media (max-width: 568px) {
  :root {
    --title-size: 2.5rem;
    --h1: 1.8rem;
    --h2: 1.5rem;
    --h3: 1.2rem;
    --h4: 0.9rem;
    --h5: 0.85rem;
    --h6: 0.75rem;
  }
}

:root {
  --sp0: 0.25rem;
  --sp1: 0.5rem;
  --sp2: 1rem;
  --sp3: 1.5rem;
  --sp4: 3rem;
  --sp5: 5rem;
  --sp6: 7rem;
}
@media (max-width: 568px) {
  :root {
    --sp0: 0.25rem;
    --sp1: 0.5rem;
    --sp2: 0.9rem;
    --sp3: 1.2rem;
    --sp4: 1.6rem;
    --sp5: 2.3rem;
    --sp6: 4.5rem;
  }
}

.text-light {
  color: #ebf9fc;
}

.text-dark {
  color: #2a3535;
}

.text-blue {
  color: #0d6efd !important;
}

.text-indigo {
  color: #6610f2 !important;
}

.text-purple {
  color: #6f42c1 !important;
}

.text-pink {
  color: #d63384 !important;
}

.text-red {
  color: #dc3545 !important;
}

.text-orange {
  color: #fd7e14 !important;
}

.text-yellow {
  color: #ffc107 !important;
}

.text-green {
  color: #198754 !important;
}

.text-teal {
  color: #20c997 !important;
}

.text-cyan {
  color: #0dcaf0 !important;
}

.text-gray {
  color: #6c757d !important;
}

.text-gray-dark {
  color: #343a40 !important;
}

.text-primary-50 {
  color: #f7f0e7 !important;
}

.text-primary-100 {
  color: #eee1cf !important;
}

.text-primary-200 {
  color: #dec49f !important;
}

.text-primary-300 {
  color: #cda66e !important;
}

.text-primary-400 {
  color: #bd893e !important;
}

.text-primary-500 {
  color: #ac6b0e !important;
}

.text-primary-600 {
  color: #8a560b !important;
}

.text-primary-700 {
  color: #674008 !important;
}

.text-primary-800 {
  color: #452b06 !important;
}

.text-primary-900 {
  color: #221503 !important;
}

.text-secondary-50 {
  color: #f7f8f8 !important;
}

.text-secondary-100 {
  color: #eff0f2 !important;
}

.text-secondary-200 {
  color: #dee1e5 !important;
}

.text-secondary-300 {
  color: #ced3d7 !important;
}

.text-secondary-400 {
  color: #bdc4ca !important;
}

.text-secondary-500 {
  color: #adb5bd !important;
}

.text-secondary-600 {
  color: #8a9197 !important;
}

.text-secondary-700 {
  color: #686d71 !important;
}

.text-secondary-800 {
  color: #45484c !important;
}

.text-secondary-900 {
  color: #232426 !important;
}

.bg-primary-50 {
  background-color: #f7f0e7;
}

.bg-primary-100 {
  background-color: #eee1cf;
}

.bg-primary-200 {
  background-color: #dec49f;
}

.bg-primary-300 {
  background-color: #cda66e;
}

.bg-primary-400 {
  background-color: #bd893e;
}

.bg-primary-500 {
  background-color: #ac6b0e;
}

.bg-primary-600 {
  background-color: #8a560b;
}

.bg-primary-700 {
  background-color: #674008;
}

.bg-primary-800 {
  background-color: #452b06;
}

.bg-primary-900 {
  background-color: #221503;
}

.bg-blue {
  background-color: #0d6efd;
}

.bg-indigo {
  background-color: #6610f2;
}

.bg-purple {
  background-color: #6f42c1;
}

.bg-pink {
  background-color: #d63384;
}

.bg-red {
  background-color: #dc3545;
}

.bg-orange {
  background-color: #fd7e14;
}

.bg-yellow {
  background-color: #ffc107;
}

.bg-green {
  background-color: #198754;
}

.bg-teal {
  background-color: #20c997;
}

.bg-cyan {
  background-color: #0dcaf0;
}

.bg-gray {
  background-color: #6c757d;
}

.bg-gray-dark {
  background-color: #343a40;
}

.bg-secondary-50 {
  background-color: #f7f8f8;
}

.bg-secondary-100 {
  background-color: #eff0f2;
}

.bg-secondary-200 {
  background-color: #dee1e5;
}

.bg-secondary-300 {
  background-color: #ced3d7;
}

.bg-secondary-400 {
  background-color: #bdc4ca;
}

.bg-secondary-500 {
  background-color: #adb5bd;
}

.bg-secondary-600 {
  background-color: #8a9197;
}

.bg-secondary-700 {
  background-color: #686d71;
}

.bg-secondary-800 {
  background-color: #45484c;
}

.bg-secondary-900 {
  background-color: #232426;
}

.btn {
  border: none;
  cursor: pointer;
  outline: none;
  white-space: nowrap;
  display: inline-block;
  border-radius: 3px;
  transition: all 0.3s ease;
  padding: var(--sp1) var(--sp3);
}
.btn:focus {
  border: 2px solid white;
}
.btn:hover {
  opacity: 0.7;
}

/* Classes for scroll animation */
.animate_top {
  animation: animationFromTop 0.7s ease-in forwards;
}

.animate_right {
  animation: animationFromRight 0.7s ease-in forwards;
}

.animate_left {
  animation: animationFromLeft 0.7s ease-in forwards;
}

.animate_bottom {
  animation: animationFromBottom 0.7s ease-in forwards;
}

/* Keyframes for scroll animation */
@keyframes animationFromTop {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes animationFromRight {
  from {
    transform: translateX(100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes animationFromLeft {
  from {
    transform: translateX(-100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes animationFromBottom {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.title-size {
  font-size: var(--title-size);
}

.h1 {
  font-size: var(--h1);
}

.h2 {
  font-size: var(--h2);
}

.h3 {
  font-size: var(--h3);
}

.h4 {
  font-size: var(--h4);
}

.h5 {
  font-size: var(--h5);
}

.h6 {
  font-size: var(--h6);
}

.thin {
  font-weight: 300;
}

.italic {
  font-style: italic;
}

.family-primary {
  font-family: "Rubik", sans-serif;
}

.family-secondary {
  font-family: "Playfair Display", serif;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: auto;
  padding: 0px var(--sp2);
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-col-reverse {
  flex-direction: column-reverse;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.flex-4 {
  flex: 4;
}

.grid {
  display: grid;
}

.columns2 {
  grid-template-columns: repeat(2, 1fr);
}

.columns3 {
  grid-template-columns: repeat(2, 1fr);
}

.columns4 {
  grid-template-columns: repeat(2, 1fr);
}

.columns5 {
  grid-template-columns: repeat(2, 1fr);
}

.overflow-hidden {
  overflow: hidden;
}

.p-0 {
  padding: var(--sp0) !important;
}

.p-1 {
  padding: var(--sp1) !important;
}

.p-2 {
  padding: var(--sp2) !important;
}

.p-3 {
  padding: var(--sp3) !important;
}

.p-4 {
  padding: var(--sp4) !important;
}

.p-5 {
  padding: var(--sp5) !important;
}

.p-6 {
  padding: var(--sp6) !important;
}

.pl-0 {
  padding-left: var(--sp0) !important;
}

.pl-1 {
  padding-left: var(--sp1) !important;
}

.pl-2 {
  padding-left: var(--sp2) !important;
}

.pl-3 {
  padding-left: var(--sp3) !important;
}

.pl-4 {
  padding-left: var(--sp4) !important;
}

.pl-5 {
  padding-left: var(--sp5) !important;
}

.pl-6 {
  padding-left: var(--sp6) !important;
}

.pr-0 {
  padding-right: var(--sp0) !important;
}

.pr-1 {
  padding-right: var(--sp1) !important;
}

.pr-2 {
  padding-right: var(--sp2) !important;
}

.pr-3 {
  padding-right: var(--sp3) !important;
}

.pr-4 {
  padding-right: var(--sp4) !important;
}

.pr-5 {
  padding-right: var(--sp5) !important;
}

.pr-6 {
  padding-right: var(--sp6) !important;
}

.pt-0 {
  padding-top: var(--sp0) !important;
}

.pt-1 {
  padding-top: var(--sp1) !important;
}

.pt-2 {
  padding-top: var(--sp2) !important;
}

.pt-3 {
  padding-top: var(--sp3) !important;
}

.pt-4 {
  padding-top: var(--sp4) !important;
}

.pt-5 {
  padding-top: var(--sp5) !important;
}

.pt-6 {
  padding-top: var(--sp6) !important;
}

.pb-0 {
  padding-bottom: var(--sp0) !important;
}

.pb-1 {
  padding-bottom: var(--sp1) !important;
}

.pb-2 {
  padding-bottom: var(--sp2) !important;
}

.pb-3 {
  padding-bottom: var(--sp3) !important;
}

.pb-4 {
  padding-bottom: var(--sp4) !important;
}

.pb-5 {
  padding-bottom: var(--sp5) !important;
}

.pb-6 {
  padding-bottom: var(--sp6) !important;
}

.m-0 {
  margin: var(--sp0) !important;
}

.m-1 {
  margin: var(--sp1) !important;
}

.m-2 {
  margin: var(--sp2) !important;
}

.m-3 {
  margin: var(--sp3) !important;
}

.m-4 {
  margin: var(--sp4) !important;
}

.m-5 {
  margin: var(--sp5) !important;
}

.m-6 {
  margin: var(--sp6) !important;
}

.ml-0 {
  margin-left: var(--sp0) !important;
}

.ml-1 {
  margin-left: var(--sp1) !important;
}

.ml-2 {
  margin-left: var(--sp2) !important;
}

.ml-3 {
  margin-left: var(--sp3) !important;
}

.ml-4 {
  margin-left: var(--sp4) !important;
}

.ml-5 {
  margin-left: var(--sp5) !important;
}

.ml-6 {
  margin-left: var(--sp6) !important;
}

.mr-0 {
  margin-right: var(--sp0) !important;
}

.mr-1 {
  margin-right: var(--sp1) !important;
}

.mr-2 {
  margin-right: var(--sp2) !important;
}

.mr-3 {
  margin-right: var(--sp3) !important;
}

.mr-4 {
  margin-right: var(--sp4) !important;
}

.mr-5 {
  margin-right: var(--sp5) !important;
}

.mr-6 {
  margin-right: var(--sp6) !important;
}

.mt-0 {
  margin-top: var(--sp0) !important;
}

.mt-1 {
  margin-top: var(--sp1) !important;
}

.mt-2 {
  margin-top: var(--sp2) !important;
}

.mt-3 {
  margin-top: var(--sp3) !important;
}

.mt-4 {
  margin-top: var(--sp4) !important;
}

.mt-5 {
  margin-top: var(--sp5) !important;
}

.mt-6 {
  margin-top: var(--sp6) !important;
}

.mb-0 {
  margin-bottom: var(--sp0) !important;
}

.mb-1 {
  margin-bottom: var(--sp1) !important;
}

.mb-2 {
  margin-bottom: var(--sp2) !important;
}

.mb-3 {
  margin-bottom: var(--sp3) !important;
}

.mb-4 {
  margin-bottom: var(--sp4) !important;
}

.mb-5 {
  margin-bottom: var(--sp5) !important;
}

.mb-6 {
  margin-bottom: var(--sp6) !important;
}

.gap-0 {
  gap: var(--sp0) !important;
}

.gap-1 {
  gap: var(--sp1) !important;
}

.gap-2 {
  gap: var(--sp2) !important;
}

.gap-3 {
  gap: var(--sp3) !important;
}

.gap-4 {
  gap: var(--sp4) !important;
}

.gap-5 {
  gap: var(--sp5) !important;
}

.gap-6 {
  gap: var(--sp6) !important;
}

.px-0 {
  padding-left: var(--sp0);
  padding-right: var(--sp0);
}

.px-1 {
  padding-left: var(--sp1);
  padding-right: var(--sp1);
}

.px-2 {
  padding-left: var(--sp2);
  padding-right: var(--sp2);
}

.px-3 {
  padding-left: var(--sp3);
  padding-right: var(--sp3);
}

.px-4 {
  padding-left: var(--sp4);
  padding-right: var(--sp4);
}

.px-5 {
  padding-left: var(--sp5);
  padding-right: var(--sp5);
}

.px-6 {
  padding-left: var(--sp6);
  padding-right: var(--sp6);
}

.mx-0 {
  margin-left: var(--sp0);
  margin-right: var(--sp0);
}

.mx-1 {
  margin-left: var(--sp1);
  margin-right: var(--sp1);
}

.mx-2 {
  margin-left: var(--sp2);
  margin-right: var(--sp2);
}

.mx-3 {
  margin-left: var(--sp3);
  margin-right: var(--sp3);
}

.mx-4 {
  margin-left: var(--sp4);
  margin-right: var(--sp4);
}

.mx-5 {
  margin-left: var(--sp5);
  margin-right: var(--sp5);
}

.mx-6 {
  margin-left: var(--sp6);
  margin-right: var(--sp6);
}

.py-0 {
  padding-top: var(--sp0);
  padding-bottom: var(--sp0);
}

.py-1 {
  padding-top: var(--sp1);
  padding-bottom: var(--sp1);
}

.py-2 {
  padding-top: var(--sp2);
  padding-bottom: var(--sp2);
}

.py-3 {
  padding-top: var(--sp3);
  padding-bottom: var(--sp3);
}

.py-4 {
  padding-top: var(--sp4);
  padding-bottom: var(--sp4);
}

.py-5 {
  padding-top: var(--sp5);
  padding-bottom: var(--sp5);
}

.py-6 {
  padding-top: var(--sp6);
  padding-bottom: var(--sp6);
}

.my-0 {
  margin-top: var(--sp0);
  margin-bottom: var(--sp0);
}

.my-1 {
  margin-top: var(--sp1);
  margin-bottom: var(--sp1);
}

.my-2 {
  margin-top: var(--sp2);
  margin-bottom: var(--sp2);
}

.my-3 {
  margin-top: var(--sp3);
  margin-bottom: var(--sp3);
}

.my-4 {
  margin-top: var(--sp4);
  margin-bottom: var(--sp4);
}

.my-5 {
  margin-top: var(--sp5);
  margin-bottom: var(--sp5);
}

.my-6 {
  margin-top: var(--sp6);
  margin-bottom: var(--sp6);
}

.d-inline {
  display: inline;
}

.d-block {
  display: block;
}

.d-iblock {
  display: inline-block;
}

.justify-center {
  justify-content: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.justify-evenly {
  justify-content: space-evenly;
}

.justify-around {
  justify-content: space-around;
}

.items-center {
  align-items: center;
}

.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-capitalized {
  text-transform: capitalize;
}

.m-auto {
  margin: auto;
}

.fw-100 {
  font-weight: 100;
}

.fw-200 {
  font-weight: 200;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.delay-1 {
  animation-delay: 0.1s;
}

.delay-2 {
  animation-delay: 0.2s;
}

.delay-3 {
  animation-delay: 0.3s;
}

.delay-4 {
  animation-delay: 0.4s;
}

.delay-5 {
  animation-delay: 0.5s;
}

.delay-6 {
  animation-delay: 0.6s;
}

.line-height-1 {
  line-height: 1rem;
}

.line-height-2 {
  line-height: 2rem;
}

.line-height-3 {
  line-height: 2.5rem;
}

.line-height-4 {
  line-height: 3rem;
}

.line-height-5 {
  line-height: 3.5rem;
}

.line-height-6 {
  line-height: 4rem;
}
