@use 'variables' as *;
// Buttons
@mixin btn {
    border: none;
    cursor: pointer;
    outline: none;
    white-space: nowrap;
    display: inline-block;
    border-radius: 3px; 
    transition:all .3s ease;

    &:focus {
        border: 2px solid white
    }
};
